@page "/recipes/create"
@inject NavigationManager NavigationManager
@inject IRecipeService RecipeService
@rendermode InteractiveAuto
@attribute [Authorize]


<h2>Add Recipe</h2>

<ErrorMessage Message="@error" />

<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="model.Name" />
        <ValidationMessage For="@(() => model.Name)" />
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <InputTextArea id="text" class="form-control" @bind-Value="model.Text" />
        <ValidationMessage For="@(() => model.Text)" />
    </div>

    <hr />

    <Ingredients IngredientList="@model.Ingredients" />

    <hr />

    <h3>Image</h3>

    @if (model.FileContent != null)
    {
        <div class="mb-3">
            <ImagePreview FileContent="@model.FileContent" />
            <button class="btn btn-danger" @onclick="RemovePicture">Remove Picture</button>
        </div>
    }

    <InputFile OnChange="HandleFileChange" @key="fileInputKey" />
    <button type="submit" class="btn btn-primary" disabled="@(!context.Validate() || isSubmitting)">Create</button>
</EditForm>


@code {
    RecipeCreateDto model = new();
    string? error;
    bool isSubmitting;
    string fileInputKey = Guid.NewGuid().ToString();

    async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        
        using (var stream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(stream);
            model.FileContent = stream.ToArray();
        }
        
        model.FileName = file.Name;
    }

    void AddIngredient()
    {
        var ingredient = new IngredientUpsertDto()
        {
            Amount = "0",
            Name = "New Ingredient"
        };

        model.Ingredients.Add(ingredient);
    }

    void RemoveIngredient(IngredientUpsertDto ingredient)
    {
        model.Ingredients.Remove(ingredient);
    }

    void RemovePicture()
    {
        model.FileContent = null;
        model.FileName = null;

        fileInputKey = Guid.NewGuid().ToString();
    }

    async Task HandleValidSubmit()
    {
        isSubmitting = true;
        var response = await RecipeService.AddAsync(model);

        if (response.Data is not null)
        {
            NavigationManager.NavigateTo($"/recipes/details/{response.Data.Id}");
        }
        else
        {
            error = response.Message;
        }
    }
}
